fastapi
uvicorn[standard]
pydantic
python-multipart

Pillow
reportlab
numpy
opencv-python
requests

python-escpos
pywin32; platform_system == "Windows"

ultralytics
onnxruntime
pytesseract
rembg[cpu]
